<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile name="RollingFileAppender" fileName="logs/application.log"
                     filePattern="logs/application-%d{MM-dd-yyyy}.log.gz">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="30" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="RollingFileAppender" />
        </Root>
    </Loggers>
</Configuration>
